body {
    font-family: Arial, sans-serif;
    background-color: #E9EFEC;
    margin: 0;
    padding: 0;
}

#resume-section{
    background-color: #C4DAD2;
    margin: 50px 100px 50px 100px;
    
}

fieldset{
    background-color: #C4DAD2;
    margin: 50px 200px 50px 200px;
    border-radius: 8px;
    border: #16423C solid ;
}


.style-inputfields{
    padding: 8px;
    border-radius: 7px;
    background-color: #E9EFEC;
}
.style-textareafields{
    padding: 8px;
    border-radius: 7px;
    background-color: #E9EFEC;
}

label{
    margin-left: 60px;
}

input{
    width:280px;
    border: #16423C solid ;
    background-color:  #E9EFEC;

}

#LinkedInId{
    width: 250px;
}

#image-input{
    width: 230px;
}

textarea{
    margin-left: 60px;
    width: 340px;
    border: #16423C solid ;
    background-color:  #E9EFEC;
}

#heading{
    text-align: center;
    background-color: #16423C;
    color: white;
    height: 120px;
    margin: 50px 200px 50px 200px;
    border-radius: 10px;
    padding: 10px;
}


h2{
    
   background-color: #6A9C89;
   color: white;
    margin-top: 30px;
    padding: 10px;    
}

button{
    background-color: #16423C;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    padding: 3px;
    margin-left: 200px;
    height: 35px;
    width: 250px;

}

button:hover{
    transition: 50%;
    opacity: 80%;
    
}

/* css specific for resume */
#header{
    display: flex;
    justify-content: space-between;
    background-color: #16423C;
    color: white;
    align-items: center;
    height: 120px;
       
}

img{
    width: 85px;
    height: 100px;
    border-radius: 50%;
    margin-right: 60px;
}

#display-name{
    margin-left: 10px;
}


@media (max-width : 700px){
    button{
        margin-left: 20px;
        width: 150px;
    }

    label{
        margin-left: 20px;
    }
    
    textarea{
        margin-left: 20px;
    }


    #resume-section{
        margin: 30px 20px 30px 20px;
        
    }

    #heading{
        margin: 30px 20px 30px 20px;
    }
    
    fieldset{
        margin: 30px 20px 30px 20px;
    }

    
    #image-display{
        margin-right: 8px;
    }

    #display-name{
        margin-left: 5px;
    }

}

